body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pink{
    height: 100vh;
    width: 100vw;
    background-color: pink;
}

.yellow{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}

.box{
    /* box h-[70px] w-[70px] bg-green-500 rounded-xl */
    background-color: black;
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.red {
    background-color: red;
}

.cyan {
    background-color: cyan;
    height: 100vh;
    width: 100vw;
}